<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://mydnswd.no-ip.org:5432/twooter_db</property>
        <property name="hibernate.connection.username">twadmin</property>
        <property name="hibernate.connection.password">tw_admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.company.twooter.model.entity.User"/>
        <mapping class="com.company.twooter.model.entity.File"/>
        <mapping class="com.company.twooter.model.entity.Message"/>
    </session-factory>
</hibernate-configuration>
